#slide-show {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
}

.image-container {
    width: 400px;
    height: 400px;
    display: inline-block;

    border: 1px solid black;
}

.img {
    width: 100%
}

.bar {
    width: 100px;
    height: 250px;
    background-color: gray;
    display: inline-block;

    border: 1px dashed blue;
}

#left-arrow {
    width: 0px;
    height: 0px;
    border-top: 75px solid transparent;
    border-right: 25px solid white;
    border-bottom: 75px solid transparent;
    display: inline-block;
    position: relative;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%, 50%);
}

#right-arrow {
    width: 0px;
    height: 0px;
    border-top: 75px solid transparent;
    border-left: 25px solid white;
    border-bottom: 75px solid transparent;
    display: inline-block;
    position: relative;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%, 50%);
}